NodeRED_flows/2_traffic_lights.json
[{
	"id": "9c1618ad.a4b29",
	"type": "FSM",
	"z": "30d165f3.8c7bba",
	"name": "Traffic Lights",
	"topic": "TRAFFIC_LIGHTS",
	"initstate": "RED",
	"inittran": "TR_INIT",
	"entry": true,
	"exit": false,
	"tran": true,
	"rules": [{
		"n": "Red to Red+Amber",
		"c": "CHANGE",
		"s": "RED",
		"d": "RED_AMBER",
		"t": "true"
	},
	{
		"n": "Red+Amber to Green",
		"c": "CHANGE",
		"s": "RED_AMBER",
		"d": "GREEN",
		"t": "true"
	},
	{
		"n": "Green to Amber",
		"c": "CHANGE",
		"s": "GREEN",
		"d": "AMBER",
		"t": "true"
	},
	{
		"n": "Amber to Red",
		"c": "CHANGE",
		"s": "AMBER",
		"d": "RED",
		"t": "true"
	}],
	"x": 370,
	"y": 280,
	"wires": [["f101bfbc.645fe",
	"3d01c875.aaf08"]]
},
{
	"id": "d1aa984c.a507b8",
	"type": "delay",
	"z": "30d165f3.8c7bba",
	"name": "Show GREEN for 5s",
	"pauseType": "delay",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 620,
	"y": 540,
	"wires": [["a86707ea.fdbdb8"]]
},
{
	"id": "a86707ea.fdbdb8",
	"type": "change",
	"z": "30d165f3.8c7bba",
	"name": "CHANGE",
	"rules": [{
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "CHANGE",
		"tot": "str"
	},
	{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 1020,
	"y": 560,
	"wires": [["9c1618ad.a4b29"]]
},
{
	"id": "1b0251cc.98ec0e",
	"type": "switch",
	"z": "30d165f3.8c7bba",
	"name": "Red to Red+Amber",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Red to Red+Amber",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 190,
	"y": 460,
	"wires": [["5e003c2c.606b04"]]
},
{
	"id": "12b7ee01.4ae062",
	"type": "switch",
	"z": "30d165f3.8c7bba",
	"name": "Red+Amber to Green",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Red+Amber to Green",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 240,
	"y": 540,
	"wires": [["d1aa984c.a507b8"]]
},
{
	"id": "5ce44bba.bfc094",
	"type": "switch",
	"z": "30d165f3.8c7bba",
	"name": "Green to Amber",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Green to Amber",
		"vt": "str"
	}],
	"checkall": "true",
	"outputs": 1,
	"x": 320,
	"y": 620,
	"wires": [["9f56645a.1f8b88"]]
},
{
	"id": "4c793236.ca494c",
	"type": "switch",
	"z": "30d165f3.8c7bba",
	"name": "Amber to Red",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Amber to Red",
		"vt": "str"
	}],
	"checkall": "true",
	"outputs": 1,
	"x": 380,
	"y": 700,
	"wires": [["9fe6e6c.aa14a18"]]
},
{
	"id": "9fe6e6c.aa14a18",
	"type": "delay",
	"z": "30d165f3.8c7bba",
	"name": "Show RED for 5s",
	"pauseType": "delay",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 630,
	"y": 700,
	"wires": [["a86707ea.fdbdb8"]]
},
{
	"id": "9f56645a.1f8b88",
	"type": "delay",
	"z": "30d165f3.8c7bba",
	"name": "Show AMBER for 3s",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 620,
	"y": 620,
	"wires": [["a86707ea.fdbdb8"]]
},
{
	"id": "5e003c2c.606b04",
	"type": "delay",
	"z": "30d165f3.8c7bba",
	"name": "Show Red+Amber for 3s",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 610,
	"y": 460,
	"wires": [["a86707ea.fdbdb8"]]
},
{
	"id": "10992644.81b2c2",
	"type": "comment",
	"z": "30d165f3.8c7bba",
	"name": "UK Traffic Light Simulator",
	"info": "Note that under UK law, the amber light must\nbe showing for 3 seconds.\n\nSequence is:\n\n- RED\n- RED+AMBER\n- GREEN\n- AMBER\n- RED\n\nIn this finite state machine, we only need\none transition, called `CHANGE` since we only\nneed to rotate through each state in turn.\n\nIn this flow example, we use the transition\noutput to control the sequence and take the\nentry output as the actual light(s) showing.",
	"x": 210,
	"y": 235,
	"wires": []
},
{
	"id": "856592ed.0750c",
	"type": "inject",
	"z": "30d165f3.8c7bba",
	"name": "",
	"topic": "CHANGE",
	"payload": "true",
	"payloadType": "bool",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": "",
	"x": 150,
	"y": 280,
	"wires": [["9c1618ad.a4b29"]]
},
{
	"id": "f101bfbc.645fe",
	"type": "debug",
	"z": "30d165f3.8c7bba",
	"name": "msg",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 550,
	"y": 180,
	"wires": []
},
{
	"id": "7017db46.cef554",
	"type": "debug",
	"z": "30d165f3.8c7bba",
	"name": "exit",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 890,
	"y": 240,
	"wires": []
},
{
	"id": "c3ea15cc.c01b4",
	"type": "debug",
	"z": "30d165f3.8c7bba",
	"name": "entry",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 890,
	"y": 180,
	"wires": []
},
{
	"id": "3d01c875.aaf08",
	"type": "switch",
	"z": "30d165f3.8c7bba",
	"name": "entry\\exit\\transition",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "cont",
		"v": "_entry",
		"vt": "str"
	},
	{
		"t": "cont",
		"v": "_exit",
		"vt": "str"
	},
	{
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 3,
	"x": 590,
	"y": 280,
	"wires": [["c3ea15cc.c01b4"],
	["7017db46.cef554"],
	["1b0251cc.98ec0e",
	"12b7ee01.4ae062",
	"5ce44bba.bfc094",
	"4c793236.ca494c",
	"766456a3.a08de8"]]
},
{
	"id": "39941b54.d8f23c",
	"type": "comment",
	"z": "30d165f3.8c7bba",
	"name": "Otherwise is  '_transition' (does not append anything)",
	"info": "Does not append anything",
	"x": 950,
	"y": 340,
	"wires": []
},
{
	"id": "766456a3.a08de8",
	"type": "debug",
	"z": "30d165f3.8c7bba",
	"name": "transition",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 900,
	"y": 300,
	"wires": []
}]