NodeRED_flows/tab2_traffic_lights_without_FSM.json
[{
	"id": "4691ac70.96c2d4",
	"type": "inject",
	"z": "64333a34.7e2da4",
	"name": "",
	"topic": "",
	"payload": "1",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": "",
	"x": 110,
	"y": 220,
	"wires": [["b701636d.14144",
	"66cd92d0.2a5cb4"]]
},
{
	"id": "b701636d.14144",
	"type": "trigger",
	"z": "64333a34.7e2da4",
	"op1": "red",
	"op2": "off-r",
	"op1type": "str",
	"op2type": "str",
	"duration": "13",
	"extend": false,
	"units": "s",
	"reset": "",
	"bytopic": "all",
	"name": "",
	"x": 730,
	"y": 220,
	"wires": [["95daa41.b9eee58"]]
},
{
	"id": "66cd92d0.2a5cb4",
	"type": "delay",
	"z": "64333a34.7e2da4",
	"name": "",
	"pauseType": "delay",
	"timeout": "10",
	"timeoutUnits": "seconds",
	"rate": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 420,
	"y": 280,
	"wires": [["71d13bff.25c2a4",
	"87dfd561.fad028"]]
},
{
	"id": "4682caa0.73b124",
	"type": "delay",
	"z": "64333a34.7e2da4",
	"name": "",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 420,
	"y": 100,
	"wires": [["b701636d.14144",
	"66cd92d0.2a5cb4"]]
},
{
	"id": "95daa41.b9eee58",
	"type": "debug",
	"z": "64333a34.7e2da4",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1010,
	"y": 220,
	"wires": []
},
{
	"id": "71d13bff.25c2a4",
	"type": "trigger",
	"z": "64333a34.7e2da4",
	"op1": "amber",
	"op2": "off-a",
	"op1type": "str",
	"op2type": "str",
	"duration": "3",
	"extend": false,
	"units": "s",
	"reset": "",
	"bytopic": "all",
	"name": "",
	"x": 720,
	"y": 340,
	"wires": [["db7c6c1d.24a588"]]
},
{
	"id": "87dfd561.fad028",
	"type": "delay",
	"z": "64333a34.7e2da4",
	"name": "",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 440,
	"y": 620,
	"wires": [["590abc91.9886f4",
	"170cc2e2.cb210d"]]
},
{
	"id": "170cc2e2.cb210d",
	"type": "delay",
	"z": "64333a34.7e2da4",
	"name": "",
	"pauseType": "delay",
	"timeout": "10",
	"timeoutUnits": "seconds",
	"rate": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 420,
	"y": 440,
	"wires": [["4682caa0.73b124",
	"71d13bff.25c2a4"]]
},
{
	"id": "db7c6c1d.24a588",
	"type": "debug",
	"z": "64333a34.7e2da4",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1010,
	"y": 340,
	"wires": []
},
{
	"id": "590abc91.9886f4",
	"type": "trigger",
	"z": "64333a34.7e2da4",
	"op1": "green",
	"op2": "off-g",
	"op1type": "str",
	"op2type": "str",
	"duration": "10",
	"extend": false,
	"units": "s",
	"reset": "",
	"bytopic": "all",
	"name": "",
	"x": 730,
	"y": 460,
	"wires": [["ce87df3c.3586c8"]]
},
{
	"id": "ce87df3c.3586c8",
	"type": "debug",
	"z": "64333a34.7e2da4",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1010,
	"y": 460,
	"wires": []
},
{
	"id": "beb0d91d.ab513",
	"type": "comment",
	"z": "64333a34.7e2da4",
	"name": "RED-> off-r",
	"info": "",
	"x": 720,
	"y": 180,
	"wires": []
},
{
	"id": "610ac1cc.612718",
	"type": "comment",
	"z": "64333a34.7e2da4",
	"name": "AMBER-> off-a",
	"info": "",
	"x": 740,
	"y": 300,
	"wires": []
},
{
	"id": "8def1049.38876",
	"type": "comment",
	"z": "64333a34.7e2da4",
	"name": "GREEN-> off-g",
	"info": "",
	"x": 740,
	"y": 420,
	"wires": []
}]