NodeRED_flows/timestamp_chart.json
[{
	"id": "66a0d809.ef16f",
	"type": "inject",
	"z": "69396b6.acea614",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "2",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 130,
	"y": 100,
	"wires": [["b3753aef.8002e8",
	"82a912.41eb2ef"]]
},
{
	"id": "b3753aef.8002e8",
	"type": "debug",
	"z": "69396b6.acea614",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 380,
	"y": 100,
	"wires": []
},
{
	"id": "82a912.41eb2ef",
	"type": "ui_chart",
	"z": "69396b6.acea614",
	"name": "",
	"group": "39d539a9.c7fe4e",
	"order": 1,
	"width": "0",
	"height": "0",
	"label": "Timestamp vs. Time",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm:ss",
	"interpolate": "linear",
	"nodata": "",
	"dot": false,
	"ymin": "",
	"ymax": "",
	"removeOlder": 1,
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4",
	"#aec7e8",
	"#ff7f0e",
	"#2ca02c",
	"#98df8a",
	"#d62728",
	"#ff9896",
	"#9467bd",
	"#c5b0d5"],
	"useOldStyle": false,
	"x": 430,
	"y": 180,
	"wires": [[],
	[]]
},
{
	"id": "39d539a9.c7fe4e",
	"type": "ui_group",
	"z": "",
	"name": "Chart",
	"tab": "d5d65e66.dafa3",
	"order": 1,
	"disp": true,
	"width": "6",
	"collapse": false
},
{
	"id": "d5d65e66.dafa3",
	"type": "ui_tab",
	"z": "",
	"name": "Time",
	"icon": "dashboard",
	"order": 1
}]