NodeRED_flows_Session2/4.STEP2_app_skeleton_buttons.json
[{
	"id": "df158c25.430688",
	"type": "FSM",
	"z": "ebf6626c.0b639",
	"name": "Fuel Station",
	"topic": "FUEL_STATION",
	"initstate": "STAND_BY",
	"inittran": "TR_INIT",
	"entry": true,
	"exit": false,
	"tran": true,
	"rules": [{
		"n": "STAND-BY to DETECTION",
		"c": "CHANGE",
		"s": "STAND_BY",
		"d": "DETECTION",
		"t": "true"
	},
	{
		"n": "DETECTION to IDENTIFICATION",
		"c": "CHANGE",
		"s": "DETECTION",
		"d": "IDENTIFICATION",
		"t": "true"
	},
	{
		"n": "IDENTIFICATION to INPUT",
		"c": "CHANGE",
		"s": "IDENTIFICATION",
		"d": "INPUT",
		"t": "true"
	},
	{
		"n": "INPUT to STAND-BY",
		"c": "CHANGE",
		"s": "INPUT",
		"d": "STAND_BY",
		"t": "true"
	}],
	"x": 470,
	"y": 280,
	"wires": [["2db3f7bb.bd24",
	"3631318.a6f3dce"]]
},
{
	"id": "bc6ab2bc.35e78",
	"type": "change",
	"z": "ebf6626c.0b639",
	"name": "CHANGE",
	"rules": [{
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "CHANGE",
		"tot": "str"
	},
	{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 1120,
	"y": 560,
	"wires": [["df158c25.430688"]]
},
{
	"id": "cfd0447d.fdd048",
	"type": "switch",
	"z": "ebf6626c.0b639",
	"name": "STAND-BY to DETECTION",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "STAND-BY to DETECTION",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 350,
	"y": 460,
	"wires": [["5128fdae.445d74"]]
},
{
	"id": "711cd535.2d1844",
	"type": "switch",
	"z": "ebf6626c.0b639",
	"name": "DETECTION to IDENTIFICATION",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "DETECTION to IDENTIFICATION",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 380,
	"y": 540,
	"wires": [["70ab6244.9da90c"]]
},
{
	"id": "644c3380.6b834c",
	"type": "switch",
	"z": "ebf6626c.0b639",
	"name": "IDENTIFICATION to INPUT",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "IDENTIFICATION to INPUT",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 390,
	"y": 620,
	"wires": [["f62ffac3.dd32b8"]]
},
{
	"id": "8ee38adc.82666",
	"type": "switch",
	"z": "ebf6626c.0b639",
	"name": "INPUT to STAND-BY",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "INPUT to STAND-BY",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 410,
	"y": 700,
	"wires": [["887cf27f.0f9c7"]]
},
{
	"id": "3dae11f7.0a6dfe",
	"type": "inject",
	"z": "ebf6626c.0b639",
	"name": "",
	"topic": "CHANGE",
	"payload": "true",
	"payloadType": "bool",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": "",
	"x": 250,
	"y": 280,
	"wires": [["df158c25.430688"]]
},
{
	"id": "2db3f7bb.bd24",
	"type": "debug",
	"z": "ebf6626c.0b639",
	"name": "msg",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 650,
	"y": 180,
	"wires": []
},
{
	"id": "f1f69852.2fc1f8",
	"type": "debug",
	"z": "ebf6626c.0b639",
	"name": "exit",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 990,
	"y": 240,
	"wires": []
},
{
	"id": "ddc9e37f.82ae9",
	"type": "debug",
	"z": "ebf6626c.0b639",
	"name": "entry",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 990,
	"y": 180,
	"wires": []
},
{
	"id": "3631318.a6f3dce",
	"type": "switch",
	"z": "ebf6626c.0b639",
	"name": "entry\\exit\\transition",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "cont",
		"v": "_entry",
		"vt": "str"
	},
	{
		"t": "cont",
		"v": "_exit",
		"vt": "str"
	},
	{
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 3,
	"x": 690,
	"y": 280,
	"wires": [["ddc9e37f.82ae9"],
	["f1f69852.2fc1f8"],
	["cfd0447d.fdd048",
	"711cd535.2d1844",
	"644c3380.6b834c",
	"8ee38adc.82666",
	"eae7cce7.3790d"]]
},
{
	"id": "63eb023e.8a4e14",
	"type": "comment",
	"z": "ebf6626c.0b639",
	"name": "Otherwise is  '_transition' (does not append anything)",
	"info": "Does not append anything",
	"x": 1050,
	"y": 340,
	"wires": []
},
{
	"id": "eae7cce7.3790d",
	"type": "debug",
	"z": "ebf6626c.0b639",
	"name": "transition",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 1000,
	"y": 300,
	"wires": []
},
{
	"id": "a8200c0a.640b58",
	"type": "comment",
	"z": "ebf6626c.0b639",
	"name": "Sample APP pattern for Autonomous Refueling Station",
	"info": "Note that under UK law, the amber light must\nbe showing for 3 seconds.\n\nSequence is:\n\n- RED\n- RED+AMBER\n- GREEN\n- AMBER\n- RED\n\nIn this finite state machine, we only need\none transition, called `CHANGE` since we only\nneed to rotate through each state in turn.\n\nIn this flow example, we use the transition\noutput to control the sequence and take the\nentry output as the actual light(s) showing.",
	"x": 290,
	"y": 180,
	"wires": []
},
{
	"id": "5128fdae.445d74",
	"type": "ui_button",
	"z": "ebf6626c.0b639",
	"name": "",
	"group": "2cfd9704.23fce8",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": false,
	"label": "to DETECTION",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "BUTTON_detection",
	"x": 720,
	"y": 460,
	"wires": [["bc6ab2bc.35e78",
	"2324ec24.ead82c"]]
},
{
	"id": "2324ec24.ead82c",
	"type": "debug",
	"z": "ebf6626c.0b639",
	"name": "check",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 1100,
	"y": 420,
	"wires": []
},
{
	"id": "70ab6244.9da90c",
	"type": "ui_button",
	"z": "ebf6626c.0b639",
	"name": "",
	"group": "2cfd9704.23fce8",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": false,
	"label": "to IDENTIFICATION",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "BUTTON_identification",
	"x": 710,
	"y": 540,
	"wires": [["bc6ab2bc.35e78",
	"2324ec24.ead82c"]]
},
{
	"id": "f62ffac3.dd32b8",
	"type": "ui_button",
	"z": "ebf6626c.0b639",
	"name": "",
	"group": "2cfd9704.23fce8",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": false,
	"label": "to INPUT",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "BUTTON_input",
	"x": 680,
	"y": 620,
	"wires": [["bc6ab2bc.35e78",
	"2324ec24.ead82c"]]
},
{
	"id": "887cf27f.0f9c7",
	"type": "ui_button",
	"z": "ebf6626c.0b639",
	"name": "",
	"group": "2cfd9704.23fce8",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": false,
	"label": "to STAND-BY",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "BUTTON_stand-by",
	"x": 690,
	"y": 700,
	"wires": [["bc6ab2bc.35e78",
	"2324ec24.ead82c"]]
},
{
	"id": "2cfd9704.23fce8",
	"type": "ui_group",
	"z": "",
	"name": "Manual test",
	"tab": "1fb69484.19111b",
	"order": 1,
	"disp": true,
	"width": "6",
	"collapse": false
},
{
	"id": "1fb69484.19111b",
	"type": "ui_tab",
	"z": "",
	"name": "App Autonomuos Refueling",
	"icon": "dashboard",
	"order": 2
}]