NodeRED/1_pedestrian.json
[{
	"id": "c5616575.c5bc38",
	"type": "FSM",
	"z": "f6dc2e26.71126",
	"name": "FSM_pedestrian",
	"topic": "FSM_1",
	"initstate": "RED",
	"inittran": "TR_INIT",
	"entry": true,
	"exit": true,
	"tran": true,
	"rules": [{
		"n": "Red to Green",
		"c": "RtoG",
		"s": "RED",
		"d": "GREEN",
		"t": "true"
	},
	{
		"n": "Green to Red",
		"c": "GtoR",
		"s": "GREEN",
		"d": "RED",
		"t": "true"
	}],
	"x": 450,
	"y": 200,
	"wires": [["b2fa7180.9505e"]]
},
{
	"id": "709bf0fc.9a79a8",
	"type": "inject",
	"z": "f6dc2e26.71126",
	"name": "",
	"topic": "RtoG",
	"payload": "true",
	"payloadType": "bool",
	"repeat": "2",
	"crontab": "",
	"once": true,
	"onceDelay": "1",
	"x": 150,
	"y": 140,
	"wires": [["c5616575.c5bc38"]]
},
{
	"id": "5c347fae.de25c8",
	"type": "inject",
	"z": "f6dc2e26.71126",
	"name": "",
	"topic": "GtoR",
	"payload": "true",
	"payloadType": "bool",
	"repeat": "2",
	"crontab": "",
	"once": true,
	"onceDelay": "2",
	"x": 150,
	"y": 240,
	"wires": [["c5616575.c5bc38"]]
},
{
	"id": "b2fa7180.9505e",
	"type": "debug",
	"z": "f6dc2e26.71126",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 720,
	"y": 200,
	"wires": []
}]