NodeRED/4.STEP1_app_skeleton_delays.json
[{
	"id": "85eb88da.06aaf",
	"type": "FSM",
	"z": "3369d9da.605b4e",
	"name": "Fuel Station",
	"topic": "FUEL_STATION",
	"initstate": "STAND_BY",
	"inittran": "TR_INIT",
	"entry": true,
	"exit": false,
	"tran": true,
	"rules": [{
		"n": "STAND-BY to DETECTION",
		"c": "CHANGE",
		"s": "STAND_BY",
		"d": "DETECTION",
		"t": "true"
	},
	{
		"n": "DETECTION to IDENTIFICATION",
		"c": "CHANGE",
		"s": "DETECTION",
		"d": "IDENTIFICATION",
		"t": "true"
	},
	{
		"n": "IDENTIFICATION to INPUT",
		"c": "CHANGE",
		"s": "IDENTIFICATION",
		"d": "INPUT",
		"t": "true"
	},
	{
		"n": "INPUT to STAND-BY",
		"c": "CHANGE",
		"s": "INPUT",
		"d": "STAND_BY",
		"t": "true"
	}],
	"x": 430,
	"y": 200,
	"wires": [["e2270830.cf0c",
	"7405f6bf.82ee28"]]
},
{
	"id": "763a6c5c.df3fb4",
	"type": "delay",
	"z": "3369d9da.605b4e",
	"name": "WAIT for 5s",
	"pauseType": "delay",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 650,
	"y": 460,
	"wires": [["74aa5984.b8f34"]]
},
{
	"id": "74aa5984.b8f34",
	"type": "change",
	"z": "3369d9da.605b4e",
	"name": "CHANGE",
	"rules": [{
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "CHANGE",
		"tot": "str"
	},
	{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 1080,
	"y": 480,
	"wires": [["85eb88da.06aaf"]]
},
{
	"id": "c3360c1f.f675d",
	"type": "switch",
	"z": "3369d9da.605b4e",
	"name": "STAND-BY to DETECTION",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "STAND-BY to DETECTION",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 310,
	"y": 380,
	"wires": [["32dd87cf.c78058"]]
},
{
	"id": "ecb82ad.6a73d58",
	"type": "switch",
	"z": "3369d9da.605b4e",
	"name": "DETECTION to IDENTIFICATION",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "DETECTION to IDENTIFICATION",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 340,
	"y": 460,
	"wires": [["763a6c5c.df3fb4"]]
},
{
	"id": "59fa22d5.9769a4",
	"type": "switch",
	"z": "3369d9da.605b4e",
	"name": "IDENTIFICATION to INPUT",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "IDENTIFICATION to INPUT",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 350,
	"y": 540,
	"wires": [["b59b7ddd.b41748"]]
},
{
	"id": "a5ea0582.2f05a",
	"type": "switch",
	"z": "3369d9da.605b4e",
	"name": "INPUT to STAND-BY",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "INPUT to STAND-BY",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 370,
	"y": 620,
	"wires": [["3b4e0dc5.8c34da"]]
},
{
	"id": "b59b7ddd.b41748",
	"type": "delay",
	"z": "3369d9da.605b4e",
	"name": "WAIT for 3s",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 650,
	"y": 540,
	"wires": [["74aa5984.b8f34"]]
},
{
	"id": "cd8dec9b.ac6278",
	"type": "inject",
	"z": "3369d9da.605b4e",
	"name": "",
	"topic": "CHANGE",
	"payload": "true",
	"payloadType": "bool",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": "",
	"x": 210,
	"y": 200,
	"wires": [["85eb88da.06aaf"]]
},
{
	"id": "e2270830.cf0c",
	"type": "debug",
	"z": "3369d9da.605b4e",
	"name": "msg",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 610,
	"y": 100,
	"wires": []
},
{
	"id": "41f68f25.bcdd48",
	"type": "debug",
	"z": "3369d9da.605b4e",
	"name": "exit",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 950,
	"y": 160,
	"wires": []
},
{
	"id": "c7b78cf9.206a6",
	"type": "debug",
	"z": "3369d9da.605b4e",
	"name": "entry",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 950,
	"y": 100,
	"wires": []
},
{
	"id": "7405f6bf.82ee28",
	"type": "switch",
	"z": "3369d9da.605b4e",
	"name": "entry\\exit\\transition",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "cont",
		"v": "_entry",
		"vt": "str"
	},
	{
		"t": "cont",
		"v": "_exit",
		"vt": "str"
	},
	{
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 3,
	"x": 650,
	"y": 200,
	"wires": [["c7b78cf9.206a6"],
	["41f68f25.bcdd48"],
	["c3360c1f.f675d",
	"ecb82ad.6a73d58",
	"59fa22d5.9769a4",
	"a5ea0582.2f05a",
	"9494b75f.3a2f88"]]
},
{
	"id": "27716cc7.3381b4",
	"type": "comment",
	"z": "3369d9da.605b4e",
	"name": "Otherwise is  '_transition' (does not append anything)",
	"info": "Does not append anything",
	"x": 1010,
	"y": 260,
	"wires": []
},
{
	"id": "9494b75f.3a2f88",
	"type": "debug",
	"z": "3369d9da.605b4e",
	"name": "transition",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 960,
	"y": 220,
	"wires": []
},
{
	"id": "5ffd012d.3995f",
	"type": "comment",
	"z": "3369d9da.605b4e",
	"name": "Sample APP pattern for Autonomous Refueling Station",
	"info": "Note that under UK law, the amber light must\nbe showing for 3 seconds.\n\nSequence is:\n\n- RED\n- RED+AMBER\n- GREEN\n- AMBER\n- RED\n\nIn this finite state machine, we only need\none transition, called `CHANGE` since we only\nneed to rotate through each state in turn.\n\nIn this flow example, we use the transition\noutput to control the sequence and take the\nentry output as the actual light(s) showing.",
	"x": 250,
	"y": 100,
	"wires": []
},
{
	"id": "3b4e0dc5.8c34da",
	"type": "delay",
	"z": "3369d9da.605b4e",
	"name": "WAIT for 5s",
	"pauseType": "delay",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 650,
	"y": 620,
	"wires": [["74aa5984.b8f34"]]
},
{
	"id": "32dd87cf.c78058",
	"type": "delay",
	"z": "3369d9da.605b4e",
	"name": "WAIT for 3s",
	"pauseType": "delay",
	"timeout": "3",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 650,
	"y": 380,
	"wires": [["74aa5984.b8f34"]]
}]