NodeRED_http_recipes/12_Simple HTTP Request.json
[
  {
    "id": "d88dd470.0ac7b8",
    "type": "inject",
    "z": "18c99b30.cf9d35",
    "name": "make request",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 180,
    "wires": [
      [
        "874a3d4e.9b666"
      ]
    ]
  },
  {
    "id": "874a3d4e.9b666",
    "type": "http request",
    "z": "18c99b30.cf9d35",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "https://www.npmjs.com/package/node-red",
    "tls": "",
    "x": 294.5,
    "y": 180,
    "wires": [
      [
        "90243cc1.87edc"
      ]
    ]
  },
  {
    "id": "7403c68f.21d7c8",
    "type": "debug",
    "z": "18c99b30.cf9d35",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 650,
    "y": 180,
    "wires": []
  },
  {
    "id": "90243cc1.87edc",
    "type": "html",
    "z": "18c99b30.cf9d35",
    "name": "",
    "property": "",
    "tag": ".pretty-number",
    "ret": "text",
    "as": "single",
    "x": 471.5,
    "y": 180,
    "wires": [
      [
        "7403c68f.21d7c8"
      ]
    ]
  }
]
