NodeRED_http_recipes/1_Create http Endpoint.json
[{
	"id": "f5710450.68909",
	"type": "http in",
	"z": "7c68d3e7.64909c",
	"name": "",
	"url": "/hello",
	"method": "get",
	"upload": false,
	"swaggerDoc": "",
	"x": 80,
	"y": 280,
	"wires": [["bb3af68e.ca2608"]]
},
{
	"id": "bb3af68e.ca2608",
	"type": "template",
	"z": "7c68d3e7.64909c",
	"name": "page",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
	"x": 230,
	"y": 280,
	"wires": [["2e72f2c4.e318a6"]]
},
{
	"id": "2e72f2c4.e318a6",
	"type": "http response",
	"z": "7c68d3e7.64909c",
	"name": "",
	"statusCode": "",
	"headers": {
		
	},
	"x": 370,
	"y": 280,
	"wires": []
},
{
	"id": "6bbf9949.db972",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "Create an HTTP Endpoint",
	"info": "",
	"x": 130,
	"y": 120,
	"wires": []
},
{
	"id": "c2f3f60c.f43c78",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "https://cookbook.nodered.org/http/create-an-http-endpoint",
	"info": "",
	"x": 230,
	"y": 160,
	"wires": []
}]