NodeRED_http_recipes/2_Handle query parameters passed to an HTTP endpoint.json
[{
	"id": "6bbf9949.db972",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "Handle query parameters passed to an HTTP endpoint",
	"info": "",
	"x": 220,
	"y": 120,
	"wires": []
},
{
	"id": "c2f3f60c.f43c78",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "https://cookbook.nodered.org/http/handle-query-parameters",
	"info": "",
	"x": 230,
	"y": 160,
	"wires": []
},
{
	"id": "34dd3d41.21ed1a",
	"type": "template",
	"z": "7c68d3e7.64909c",
	"name": "page",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
	"x": 450,
	"y": 240,
	"wires": [["d1c65bba.1e2d1"]]
},
{
	"id": "d6cdfc57.3856d",
	"type": "http in",
	"z": "7c68d3e7.64909c",
	"name": "",
	"url": "/hello-query",
	"method": "get",
	"upload": false,
	"swaggerDoc": "",
	"x": 280,
	"y": 240,
	"wires": [["34dd3d41.21ed1a"]]
},
{
	"id": "d1c65bba.1e2d1",
	"type": "http response",
	"z": "7c68d3e7.64909c",
	"name": "",
	"x": 590,
	"y": 240,
	"wires": []
}]