NodeRED_http_recipes/4_Access HTTP request headers.json
[{
	"id": "6bbf9949.db972",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "Access HTTP request headers",
	"info": "",
	"x": 150,
	"y": 120,
	"wires": []
},
{
	"id": "c2f3f60c.f43c78",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "https://cookbook.nodered.org/http/access-http-request-headers",
	"info": "",
	"x": 250,
	"y": 160,
	"wires": []
},
{
	"id": "e8936653.372038",
	"type": "http in",
	"z": "7c68d3e7.64909c",
	"name": "",
	"url": "/hello-headers",
	"method": "get",
	"upload": false,
	"swaggerDoc": "",
	"x": 210,
	"y": 240,
	"wires": [["ea9d28eb.fa826"]]
},
{
	"id": "ea9d28eb.fa826",
	"type": "template",
	"z": "7c68d3e7.64909c",
	"name": "page",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>",
	"x": 390,
	"y": 240,
	"wires": [["932b8665.d480a"]]
},
{
	"id": "932b8665.d480a",
	"type": "http response",
	"z": "7c68d3e7.64909c",
	"name": "",
	"statusCode": "",
	"headers": {
		
	},
	"x": 530,
	"y": 240,
	"wires": []
}]