NodeRED_http_recipes/8_Post raw data to a flow.json
[{
	"id": "6bbf9949.db972",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "Post raw data to a flow",
	"info": "",
	"x": 120,
	"y": 120,
	"wires": []
},
{
	"id": "c2f3f60c.f43c78",
	"type": "comment",
	"z": "7c68d3e7.64909c",
	"name": "https://cookbook.nodered.org/http/post-raw-data-to-a-flow",
	"info": "",
	"x": 230,
	"y": 160,
	"wires": []
},
{
	"id": "9d2bfb88.df635",
	"type": "http in",
	"z": "7c68d3e7.64909c",
	"name": "",
	"url": "/hello-raw",
	"method": "post",
	"upload": false,
	"swaggerDoc": "",
	"x": 180,
	"y": 240,
	"wires": [["84979306.614298"]]
},
{
	"id": "84979306.614298",
	"type": "template",
	"z": "7c68d3e7.64909c",
	"name": "page",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>",
	"x": 350,
	"y": 240,
	"wires": [["28cf1edc.4fd5a2"]]
},
{
	"id": "28cf1edc.4fd5a2",
	"type": "http response",
	"z": "7c68d3e7.64909c",
	"name": "",
	"statusCode": "",
	"headers": {
		
	},
	"x": 490,
	"y": 240,
	"wires": []
}]